.carousel-item{
    height: 43rem;
    width: 89rem ;
    background: rgb(77, 80, 80);
    position: relative;
    border-radius: 2rem;
    

    h3    {
        color: black
}
    p{
        color: black;
        font-weight: bold;
        font-size: 1.3rem;
        
    }

  
}

